ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}

/* colleage name bar */
header > div {
  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  padding: 0 0 0 1em;
}

/* navigation bar */
header {
  text-align: center;
}
nav > ul {
  list-style-type: none;
  padding: 0 0 0 0; /* removing circle */
  margin: 0 0 0 0;
  background-color: #BD3131;
  overflow: hidden;
}
li {
  text-align: center;
  display: inline-block;
  padding: 0 1em;
}
li a {
  padding: 8px;
  display: block;
  color: #FFFFFF;
  text-decoration: none; /* remove underline */
}
li a:hover { /* mouse over */
  background-color: white;
  color: black;
}

/* timetable */
table {
  border-collapse: collapse;
  text-align: center;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;  
  table-layout: fixed;
  margin: auto;
}

td {
  margin: auto;
  padding: 30px;
  vertical-align: top;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}


/* Previous button inside Schedule Header */
a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: none;}
.prev {
  float: left;
}
.next {
  float: right;
}
.content {
  margin: 0 auto;
}

/* Schedule Header */
.scheduleHeader {
  padding: 30px 25px;
  background: #D67575;
  text-align: center;
}
.scheduleHeader {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Weekdays (Mon-Sat) */
.timetable {
  margin: auto;
}
th {
  padding: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #cccccc;
  background: #eeeeee;
  margin: auto;
}

td {
  padding: 1em;
  border-left: 1px solid #cccccc;
}

td:hover {
  background-color: #eeeeee;
}

@media screen and (max-width: 680px) {
  .timetable {
    overflow: scroll;
  }
  th {
    padding: 0.5em;
    letter-spacing: 0px;
  }
  td {
    font-size: 0.8em;
    padding: 0.8em;
  }
}