ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}

/* colleage name bar */
header > div {
  background-color: black;
  color: white;
    /*font-size: 20px;*/
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  padding: 0 0 0 1em;
}

/* navigation bar */
header {
  text-align: center;
}
nav > ul {
  list-style-type: none;
  padding: 0 0 0 0; /* removing circle */
  margin: 0 0 0 0;
  background-color: #BD3131;
  overflow: hidden;
}
li {
  text-align: center;
  display: inline-block;
}
li a {
  padding: 8px;
  display: block;
  color: #FFFFFF;
  text-decoration: none; /* remove underline */
}

/* mouse over */
li a:hover {
  background-color: #388E3C;
}

/* table */
table {
  border-collapse: collapse;
  text-align: center;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;  
  table-layout: fixed;
  margin: auto;
}

td {
  margin: auto;
  padding: 30px;
  vertical-align: top;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}


/* Schedule Header */
.scheduleHeader {
  padding: 30px 25px;
  width: 100%;
  background: #CC6767;
  text-align: center;
}
.scheduleHeader ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.scheduleHeader .prev {
    float: left;
    padding-top: 10px;
    padding-left: 50px;
}

/* Next button */
.scheduleHeader .next {
    float: right;
    padding-top: 10px;
    padding-right: 100px;
}


/* Weekdays (Mon-Sat) */
th {
  font-size: larger;
  padding: 10px;
  font-weight: bold;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  background: #eeeeee;
  margin: auto;
}

td:hover {
  background-color: #F08080;
}

@media screen and (max-width: 480px) {
  table {
    overflow-x: auto;
	display: block;
  }
}