

h2
{
          font-style: italic;
          text-align: Center;
          font-size: 200%;
          
}     
 p
{
          font-style: italic;
}
#campus
{
          text-align: center;
}
form {
  display : grid;
  grid-template-columns : 1fr;
  grid-gap : 16px;
  font-family : 'Open Sans', sans-serif;
  max-width: 300px;
  margin: auto;
}

 fieldset
{
          background-color: red;
          color:white;
          float: right;
          text-align: center;

        
}
label
{
          text-align: right;
          border: none;
}
#title{
    background-color: red;
    color: white;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    img {
        width: 600px;
        height: auto;
    }

}

@media screen and (max-width: 600px) {
    img {
        width: 450px;
        height: auto;
    }

}

@media screen and (max-width: 400px) {
    img {
        width: 300px;
        height: 150px;
    }

}