

h2
{
          font-style: italic;
          text-align: Center;
          font-size: 200%;
          
}     
 p
{
          font-style: italic;
}
#campus
{
          text-align: center;
}
form
{
          border: none;
}

 fieldset
{
          background-color: red;
          color:white;
          float: right;
          text-align: right;
        
}
label
{
          text-align: right;
          border: none;
}
#title{
    background-color: red;
    color: white;
}
