body {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
header{
    font-size: 1.50em;
    background-color:lightslategrey;
    width: 100%;

}

h1 {
    text-align: center;
    margin: 0;
}

h2{
    font-size: 1.25em;
    margin: 1.25em;
    text-align: center;
}

form {
    border: none;
    text-align: center;
    line-height: 1.25em;
    font-family: 'Open Sans', sans-serif;
}
button{
    text-align:center;
    margin:auto;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 18px;
}

nav {
    margin-left: auto;
    margin-right: auto;
    display: table;
    background: #BD3131;
    width: 100%;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* IIT navbar */
.iitName {
  background-color: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  padding: 0 0 0 1em;
}


/*.support a {
    margin-top: 2em;
    display: inline-block;
}
*/

